{{define "dashboard_sidebar"}}
<nav class="sidebar-nav">
    <a href="/" class="dashboard-brand">EcomHub</a>

    <div class="dashboard-nav">
        <a href="/dashboard" class="dashboard-nav-link {{if eq .ActiveNav "home"}}active{{end}}">Home</a>
        <a href="/dashboard/stores" class="dashboard-nav-link {{if eq .ActiveNav "stores"}}active{{end}}">Stores</a>
        <a href="/dashboard/products" class="dashboard-nav-link {{if eq .ActiveNav "products"}}active{{end}}">Products</a>
    </div>
</nav>
{{end}}
